.frontBlock .alert-info {
    font-weight: bold;
    font-size: x-large;
}


.financeTargetRow {
    font-size: large;
    font-weight: bold;

}

.pad-v-l {
    padding-top: 20px ;
    padding-bottom: 20px;
}

.pad-h-l {
    padding-left: 20px ;
    padding-right: 20px;
}

.mar-v-l {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mar-h-l {
    margin-right: 20px;
    margin-left: 20px;
}