<!--<div class="page-header">-->
    <!--<h1>Документы: <small>сканы сопутвующих документов</small></h1>-->
<!--</div>-->

<ul class="nav nav-tabs" id="docsTab">
    <li class="active"><a href="#<%=DOCUMENTS_TABS[DOCUMENTS_TYPES.mainDocs].tabId%>">Основные документы</a></li>
    <li><a href="#<%=DOCUMENTS_TABS[DOCUMENTS_TYPES.medicalDocs].tabId%>">Медицинские документы</a></li>
    <li><a href="#<%=DOCUMENTS_TABS[DOCUMENTS_TYPES.financeDocs].tabId%>">Финасовые документы</a></li>
    <li><a href="#<%=DOCUMENTS_TABS[DOCUMENTS_TYPES.reportDocs].tabId%>">Отчеты</a></li>
</ul>

<div class="tab-content pad-v-l">
    <!--<div class="tab-pane active" id="mainDocs">...</div>-->
    <!--<div class="tab-pane" id="medicalDocs">...</div>-->
    <!--<div class="tab-pane" id="messages">...</div>-->
    <!--<div class="tab-pane" id="settings">...</div>-->
</div>
<script>

</script>