<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Как я могу помочь?</h3>
            </div>
            <div class="panel-body">
                <p>Конечной целью является сбор средств необходимых для проведения лечения, и к этой цели направлены все наши усилия.
                    Но этой цели можно добиться не только перечислением денег. Вы можете разместить баннер на вашем сайте, организовать сбор у себя на работе,
                    расклеить листовки по Вашему городу, сделать бигборд или растяжку, вести тему на городском форуме или в социальной группе. Все зависит только от Вашей фантазии и возможностей</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div id='banksListLeft' class="col-md-6">

        </div>
        <div id='banksListRight' class="col-md-6">

        </div>
    </div>
</div>
